<!doctype html>
<html>
<head>
  <title>Controller</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <style>
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    html, body {
      height: 100%;
      width: 100%;
      background-color: rgb(100, 100, 100);

    }

    .form-container {
      text-align: center;
      width: 100%;
      height: 50%;
    }

    .player_one {
      position: relative;
      display: inline-block;
      height: auto;
      width: 80%;
      margin: 10px auto;
      -webkit-filter: drop-shadow(0px 0px 15px rgba(249, 91, 2, 0.95));
    }

    .player_two {
      position: relative;
      display: inline-block;
      height: auto;
      width: 80%;
      margin: 10px auto;
      -webkit-filter: drop-shadow(0px 0px 15px rgba(2, 159, 162, 0.95));
    }
  </style>
</head>
<body>
  <div class="form-container">
  <form action="./player" method="post">
    <input type="image" class="player_one" src="controller.png" alt="Submit Form">
    <input type="hidden" value="1" name="player">
  </form>
  <form action="./player" method="post">
    <input type="image" class="player_two" src="controller.png" alt="Submit Form">
    <input type="hidden" value="2" name="player">
  </form>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script>
  </script>
</body>
</html>